{% extends "base.html" %}
{% block content %}

<h2>{{poll.title}}</h2>

<div>
  <form method="post" action="{{base_path}}/vote" >
   <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nimi</th>
          <th>Lisätieto</th>
          <th style="width: 10%">Ääniä</th>
          {% if poll.open %}
            <th style="width: 10%">Valitse</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
          {% for option in options %}
            <tr>
                <td>{{option.name}}</td>
                <td>{{option.description}}</td>
                {% if poll.type == 1 and poll.open %}
                  <td></td>
                {% else %}
                  <td {% if option.id == winner %} class="voted" {% endif %}>{{results[option.id]}}</td>
                {% endif %}
                {% if poll.open %}
                  <td><input type="radio" name="option_id" value="{{option.id}}"></td>
                {% endif %}
            </tr>
           {% endfor %}
      </tbody>
    </table>
    <input type="hidden" name="poll_id" value="{{poll.id}}">
    <input class="btn btn-primary" type="submit" value="Äänestä!"> 
  </form>
  {% if message %}
    <div class="alert alert-danger">
      <ul>
          <li>{{message}}</li>
      </ul>
    </div>
    {% endif %}
</div>
<br>
<h2>Kuvaus</h2>
<div class="votedescription">
{{poll.description}}
</div>


{% endblock %}