{% extends "base.html" %}
{% block content %}

  <h2>Muokkaa äänestystä</h2>
  <div>
    <form method="post" action="{{base_path}}/aanestys/{{attributes.id}}/update">
    <h3>Perustiedot</h3>
    <div class="newvote">
      <div class="basicinfo">
        Aihe:<br>
        <input name="aihe" class="form-control" type="text" value="{{attributes.aihe}}">
        Äänestys alkaa:<br>
        <input name="alkupvm" class="form-control" type="date" value="{{attributes.alkupvm}}">
        Äänestys päättyy:<br>
        <input name="loppupvm" class="form-control" type="date" value="{{attributes.loppupvm}}">
      </div>
      <div class="votesettings">
        <input type="radio" name="tyyppi" value="1" checked>Tavallinen<br>
        <input type="radio" name="tyyppi" value="1">Koko tilanne näkyvissä<br>
        <input type="radio" name="tyyppi" value="1">Johtava vaihtoehto näkyvissä<br>
      </div>
    </div>
    {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
      <h3>Kuvaus</h3>
      <textarea name="kuvaus" rows="10" cols="100">{{attributes.kuvaus}}</textarea>
      <br>
      <input class="btn btn-primary" type="submit" value="Tallenna muutokset"> 
    </form>
  </div>

  <h2>Poista äänestys</h2>
  <form method="post" action="{{base_path}}/aanestys/{{attributes.id}}/delete">
    <input class="btn btn-primary" type="submit" value="Poista äänestys">
  </form>

  <h2>Äänestysvaihtoehdot</h2>
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nimi</th>
          <th>Lisätieto</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {% for option in options %}
          <form method="post" action="{{base_path}}/aanestys/option/{{option.id}}/edit">
          <input type="hidden" name="poll_id" value="{{attributes.id}}">
            <tr>
                <td><input class="form-control" name="name" type="text" value="{{option.name}}"></td>
                <td><input class="form-control" name="desc" type="text" value="{{option.description}}"></td>
                <td><input class="btn btn-default" type="submit" value="Tallenna"></td>
            </tr>
            </form>
           {% endfor %}
          <form method="post" action="{{base_path}}/aanestys/option/new">
          <input type="hidden" name="poll_id" value="{{attributes.id}}">
            <tr>
                <td><input class="form-control" name="name" type="text" placeholder="Uusi vaihtoehto"></td>
                <td><input class="form-control" name="desc" type="text" placeholder="Kuvaus"></td>
                <td><input class="btn btn-default" type="submit" value="Lisää uusi vaihtoehto"></td>
            </tr>
            </form>
      </tbody>
    </table>


{% endblock %}