{% extends "base.html" %}
{% block content %}


  <div class="votelist">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Äänestys</th>
          <th>Alkaa</th>
          <th>Loppuu</th>
          <th>Tila</th>
        </tr>
      </thead>
      <tbody>
        {% for poll in polls %}
            {% if not poll.piilotettu or user_logged_in.id == poll.tekija %}
            <tr>
                <td><a href="{{base_path}}/aanestys/{{poll.id}}/details">{{poll.aihe}}</a></td>
                <td>{{poll.alkupvm}}</td>
                <td>{{poll.loppupvm}}</td>
                {% if poll.id in voted_polls %} 
                  <td class="voted">Äänestetty</td>
                {% elseif poll.open %}
                  <td class="open">Äänestämättä</td>
                {% else %}
                  <td class="closed">Suljettu</td>
                {% endif %}
                {% if user_logged_in.id == poll.tekija %}
                  <td><a href="{{base_path}}/aanestys/{{poll.id}}/edit" class="btn btn-default">Muokkaa</a></td>
                {% endif %}
            </tr>
            {% else %}
            {% endif %}
        {% endfor %}

      </tbody>
    </table>
  </div>
  <a href="{{base_path}}/aanestys/uusi" class="btn btn-default">Luo uusi äänestys</a>

{% endblock %}