{% extends "base.html" %}
{% block content %}

  <h2>Luo uusi äänestys</h2>
  <div>
    <form method="post" action="{{base_path}}/aanestys/uusi">
    <h3>Perustiedot</h3>
    <div class="newvote">
      <div class="basicinfo">
        Aihe:<br>
        <input name="aihe" class="form-control" type="text" placeholder="Sushi on hyvää!"value="{{attributes.aihe}}">
        Äänestys alkaa:<br>
        <input name="alkupvm" class="form-control" type="date" value="{{attributes.alkupvm}}">
        Äänestys päättyy:<br>
        <input name="loppupvm" class="form-control" type="date" value="{{attributes.loppupvm}}">
      </div>
      <div class="votesettings">
        <input type="radio" name="tyyppi" value="1" checked>Tavallinen<br>
        <input type="radio" name="tyyppi" value="2">Koko tilanne näkyvissä<br>
      </div>
    </div>
    {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
      <h3>Kuvaus</h3>
      <textarea name="kuvaus" rows="10" cols="100">{{attributes.kuvaus}}</textarea>
      <div>
      <h3>Äänestysvaihtoehdot</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Valinta</th>
            <th>Lisätieto</th>
          </tr>
        </thead>
        <tbody id="vote_options_wrap">
          <tr>
            <td><input class="form-control" type="text" name="option_name[]"></td>
            <td><input class="form-control" type="text" name="option_desc[]"></td>
          </tr>
          <tr>
            <td><input class="form-control" type="text" name="option_name[]"></td>
            <td><input class="form-control" type="text" name="option_desc[]"></td>
          </tr>
        </tbody>
      </table>
      <input id="num_of_options" type="hidden" name="num_options" value="2">
      <button class="btn btn-default" id="add_field_button">Lisää rivi</button>
      </div>
      <br>
      <input class="btn btn-primary" type="submit" value="Tallenna ja luo äänestys"> 
    </form>
  </div>

  



{% endblock %}